<div class="jumbotron">
  <% @test.questions.each do |question| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Question <%= question.question %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= image_tag question.image.url(:medium) %>
      </p>
      <%= form_tag edit_test_testsession_path(@test, question) do %>
        <%= radio_button_tag :answer, "A" %> A
        <%= radio_button_tag :answer, "B" %> B
        <%= radio_button_tag :answer, "C" %> C
        <%= radio_button_tag :answer, "D" %> D
        <%= submit_tag 'Submit', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <% end %>
  <br/>
  <%= link_to "See Test Results!", results_path(@test), class: "btn btn-lg btn-info btn-block" %>
</div>
